@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator employerSiteLinkGenerator
@inject Microsoft.Extensions.Options.IOptions<CampaignsWebsite> campaignWebsiteOptions

@model ApprenticeshipFavouritesViewModel
@{
    string countText;
    switch (Model.Items.Count)
    {
        case 0:
            countText = "No saved apprenticeships";
            break;
        case 1:
            countText = "(1) Apprenticeship";
            break;
        default:
            countText = $"({Model.Items.Count}) Apprenticeships";
            break;
    }
}

@section BodyHeader{

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="@employerSiteLinkGenerator.AccountsLink()">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Apprenticeships</li>
                </ol>
            </div>
            <h1 class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                <span class="govuk-caption-xl">Your saved favourites</span>
                <span class="app-icon-basket govuk-!-margin-right-2"></span>
                <span class="fav-count-text">@countText</span>
            </h1>
        </div>
    </div>
}


@if (Model.HasInactiveApprenticeships)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    Unavailable apprenticeship
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var inactiveApprenticeship in Model.Items.Where(w => w.Active == false))
                        {
                            <li>
                                <a href="#apprenticeship-@inactiveApprenticeship.Id">The @inactiveApprenticeship.Title apprenticeship is no longer available. You can remove it from your shortlist below.</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Items.Count == 0)
{
    <h2 class="fav-no-favourites-text govuk-heading-m">
        You’ve not saved any favourites yet. Select <strong>View apprenticeships</strong> to continue to the Apprenticeships website, where you can search for apprenticeships and start adding favourites to your account.
    </h2>
    <a href="@campaignWebsiteOptions.Value.FatSearchPage" class="govuk-button fav-view-camp">View apprenticeships</a>
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <ol class="app-task-list">

                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <li class="app-task-list__item app-task-list__item--@(@Model.Items[i].Active ? "Active" : "Inactive")" id="apprenticeship-@Model.Items[i].Id">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <h2 class="govuk-heading-l app-task-list__heading  govuk-!-margin-bottom-2">
                                    <span class="app-task-list__section-number">@(i + 1). </span>
                                    <a href="@Model.Items[i].FatUrl" class="fav-app-name govuk-link" target="_blank" rel="external">@Model.Items[i].Title@(@Model.Items[i].Active == false ? " - No longer available" : "") </a>
                                </h2>
                                @if (Model.Items[i].Active)
                                {
                                    @if (Model.Items[i].IsFramework)
                                    {
                                        <div class="fav-framework-expiry govuk-warning-text govuk-!-margin-bottom-2">
                                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                            <strong class="govuk-warning-text__text">
                                                <span class="govuk-warning-text__assistive">Warning</span>
                                                This apprenticeship is closed to new starters from @Model.Items[i].ExpiryDate
                                            </strong>
                                        </div>
                                    }
                                    <dl class="govuk-list govuk-!-margin-top-0">
                                        <dt class="app-training-provider__details-title">Level:</dt>
                                        <dd class="app-training-provider__details-definition fav-app-level">@Model.Items[i].Level</dd>
                                        <dt class="app-training-provider__details-title">Typical length:</dt>
                                        <dd class="app-training-provider__details-definition fav-app-length">@Model.Items[i].TypicalLength</dd>
                                    </dl>
                                }
                            </div>

                            <div class="govuk-grid-column-one-third">
                                @if (Model.Items[i].Active)
                                {
                                    @if (Model.Items[i].HasTrainingProviders)
                                    {
                                        <a id="view-training-providers"
                                           asp-controller="Apprenticeships"
                                           asp-action="TrainingProvider"
                                           asp-route-employerAccountId="@Model.EmployerAccountId"
                                           asp-route-apprenticeshipId="@Model.Items[i].Id"
                                           class="govuk-button govuk-button--search govuk-!-margin-bottom-6 app-task-list__training-provider-content">
                                            <span></span><span class="text">View Training Providers</span>
                                        </a>
                                    }

                                    @if (Model.HasLegalEntity)
                                    {
                                        <a id="recruit-with-provider-link"
                                           href="@Model.Items[i].CreateVacancyUrl"
                                           class="govuk-link govuk-link--search govuk-!-margin-bottom-0 app-task-list__training-provider-content recruit-link">
                                            <span></span><span class="text">Recruit Apprentice</span>
                                        </a>
                                    }
                                }
                                <a id="delete-apprenticeship-favourite"
                                   asp-controller="Apprenticeships"
                                   asp-action="Delete"
                                   asp-route-employerAccountId="@Model.EmployerAccountId"
                                   asp-route-apprenticeshipId="@Model.Items[i].Id"
                                   class="govuk-link govuk-link--search govuk-!-margin-bottom-0 app-task-list__training-provider-content">
                                    <span></span><span class="text">Delete <span class="govuk-visually-hidden">@Model.Items[i].Title</span> favourite</span>
                                </a>

                                @*<h3 class="govuk-heading-s app-task-list__training-provider-content"><span class="text-numbers"><span class="app-provider-number ">5</span> saved training providers</span></h3>
                                    <div><a href="#" class="govuk-link app-task-list__training-provider-content">Reserve funding</a></div>*@

                            </div>

                        </div>
                    </li>
                }
            </ol>
        </div>
    </div>

}