@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator linkGenerator
@model ApprenticeshipFavouritesViewModel
@{
    var countText = Model.Items.Count > 1 ? $"({Model.Items.Count}) Apprenticeships" : "(1) Apprenticeship";
}
@section BodyHeader{

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="@linkGenerator.Homepage()">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Apprenticeships</li>
                </ol>
            </div>
            <h1 class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                <span class="govuk-caption-xl">Your saved favourites</span>
                <span class="app-icon-basket govuk-!-margin-right-2"></span>
                <span class="fav-count-text">@countText</span>
            </h1>
        </div>
    </div>
}

@if (Model.Items.Count == 0)
{
    <div class="fav-no-favourites-text">
        TODO: This needs some text
    </div>
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <ol class="app-task-list">
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <li class="app-task-list__item">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <h2 class="govuk-heading-l app-task-list__heading  govuk-!-margin-bottom-2">
                                    <span class="app-task-list__section-number">@(i + 1). </span>
                                    <a href="@Model.Items[i].FatUrl" class="fav-app-name govuk-link">@Model.Items[i].Title</a>
                                </h2>
                                @*<a href="#" class="govuk-button">Choose training provider</a>

                                    <section class="postcode-search">
                                        <!-- <h4 class="govuk-heading-s">Enter the postcode of where the apprentice will work...</h4> -->
                                        <fieldset class="govuk-fieldset">
                                            <div class="govuk-form-group">
                                            <!-- <label class="govuk-label" for="provider-list-postcode">Postcode</label> -->
                                                <a id="postcode-search" href="#" class="govuk-button govuk-button--search"><span></span><span class="text">Search</span></a>
                                                <input class="govuk-input govuk-input--width-10" id="provider-list-postcode" name="provider-list-postcode" placeholder="Search by postcode..." type="text">
                                            </div>
                                        </fieldset>
                                    </section>*@
                                @if (Model.Items[i].IsFramework)
                                {
                                    <div class="fav-framework-expiry govuk-warning-text govuk-!-margin-bottom-2">
                                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                        <strong class="govuk-warning-text__text">
                                            <span class="govuk-warning-text__assistive">Warning</span>
                                            This apprenticeship is closed to new starters from @Model.Items[i].ExpiryDate
                                        </strong>
                                    </div>
                                }
                                <dl class="govuk-list govuk-!-margin-top-0">
                                    <dt class="app-training-provider__details-title">Level:</dt>
                                    <dd class="app-training-provider__details-definition fav-app-level">3 (equivalent to A levels at grades A to E)</dd>
                                    <dt class="app-training-provider__details-title">Typical length:</dt>
                                    <dd class="app-training-provider__details-definition fav-app-length">18 months</dd>
                                </dl>
                                @*<div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <div class="govuk-checkboxes">
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="compare-app-1" name="compare-app" type="checkbox" value="carcasses">
                                                    <label class="govuk-label govuk-checkboxes__label" for="compare-app-1">
                                                        Compare
                                                    </label>
                                                </div>
                                                <a href="#" class="govuk-link govuk-delete-link">Remove</a>
                                            </div>
                                        </fieldset>
                                    </div>*@
                            </div>
                            <div class="govuk-grid-column-one-third">
                                @if (Model.Items[i].HasTrainingProviders)
                                {
                                    <a id="view-training-providers"
                                       asp-controller="Apprenticeships"
                                       asp-action="TrainingProvider"
                                       asp-route-employerAccountId="@Model.EmployerAccountId"
                                       asp-route-apprenticeshipId="@Model.Items[i].Id"
                                       class="govuk-button govuk-button--search govuk-!-margin-bottom-0 app-task-list__training-provider-content">
                                        <span></span><span class="text">View Training Provider</span>
                                    </a>
                                }

                                @*<h3 class="govuk-heading-s app-task-list__training-provider-content"><span class="text-numbers"><span class="app-provider-number ">5</span> saved training providers</span></h3>
                                    <div><a href="#" class="govuk-link app-task-list__training-provider-content">Reserve funding</a></div>
                                    <div><a href="#" class="govuk-link app-task-list__training-provider-content">Recruit an apprentice</a></div> *@
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>
    </div>

}