@model TrainingProvidersViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator linkGenerator

@{
    var countText = Model.Items.Count > 1 ? $"({Model.Items.Count}) Training Providers" : "(1) Training Provider";
}
@section BodyHeader{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="@linkGenerator.AccountsLink()">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        <a class="govuk-breadcrumbs__link" asp-action="Index" asp-route-employerAccountId="@Model.EmployerAccountId">Apprenticeships</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Training Providers</li>
                </ol>
            </div>
            <h1 class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                <span class="govuk-caption-xl">Your saved favourites</span>
                <span class="app-icon-basket govuk-!-margin-right-2"></span>
                <span class="fav-count-text">@countText</span>
            </h1>
        </div>
    </div>
}


@if (Model.HasInactiveProviders)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    Unavailable training provider
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var inactiveProviders in Model.Items.Where(w => w.Active == false))
                        {
                            <li>
                                <a href="#provider-@inactiveProviders.Ukprn">The @inactiveProviders.ProviderName training provider is no longer available. You can remove it from your shortlist below.</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <ol class="app-task-list">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <li id="#provider-@Model.Items[i].Ukprn" class="app-task-list__item  app-task-list__item--@(Model.Items[i].Active ? "active" : "inactive")">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-l app-task-list__heading">
                                <span class="app-task-list__section-number">@(i + 1). </span>
                                <a href="@Model.Items[i].FatUrl" class="fav-tp-name govuk-link" target="_blank" rel="external">@Model.Items[i].ProviderName</a>
                            </h2>
                            @if (Model.Items[i].Active)
                            {
                                <dl class="govuk-list govuk-!-margin-top-0">
                                    <dt class="app-training-provider__details-title">Phone:</dt>
                                    <dd class="app-training-provider__details-definition fav-tp-phone">@Model.Items[i].Phone</dd>
                                    <dt class="app-training-provider__details-title">Website:</dt>
                                    <dd class="app-training-provider__details-definition fav-tp-website"><a class="govuk-link" href="@Model.Items[i].Website">@Model.Items[i].Website</a></dd>
                                    <dt class="app-training-provider__details-title">Email:</dt>
                                    <dd class="app-training-provider__details-definition fav-tp-email"><a class="govuk-link" href="mailto:@Model.Items[i].Email">@Model.Items[i].Email</a></dd>
                                    <dt class="app-training-provider__details-title">Employer Satisfaction:</dt>
                                    <dd class="app-training-provider__details-definition fav-tp-employer-satisfaction">@Model.Items[i].EmployerSatisfaction</dd>
                                    <dt class="app-training-provider__details-title">Learner Satisfaction:</dt>
                                    <dd class="app-training-provider__details-definition fav-tp-learner-satisfaction">@Model.Items[i].LearnerSatisfaction</dd>
                                </dl>

                                @if (Model.Items[i].Locations.Count == 0)
                                {
                                    <partial name="_headOfficeAddress" model="Model.Items[i].HeadOfficeAddress" />
                                }
                                else
                                {
                                    <partial name="_locationAddresses" model="Model.Items[i].Locations" />
                                }

                            }
                        </div>

                        <div class="govuk-grid-column-one-third">
                            @if (Model.HasLegalEntity && Model.Items[i].Active)
                            {
                                <a href="@Model.Items[i].CreateVacancyUrl" class="govuk-button app-task-list__training-provider-content recruit-button">Recruit apprentice</a>
                            }
                            <a asp-action="DeleteProvider" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-apprenticeshipId="@Model.ApprenticeshipId" asp-route-ukprn="@Model.Items[i].Ukprn" class="govuk-link app-task-list__training-provider-content">Remove from favourites</a>
                            @*<a href="#" class="govuk-link app-task-list__training-provider-content">Manage permissions</a>*@
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</div>