@model TrainingProvidersViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator linkGenerator

@{
    var countText = Model.Items.Count > 1 ? $"({Model.Items.Count}) Training Providers" : "(1) Training Provider";
}
@section BodyHeader{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="@linkGenerator.AccountsLink(null)">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        <a class="govuk-breadcrumbs__link" asp-action="Index" asp-route-employerAccountId="@Model.EmployerAccountId">Apprenticeships</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Training Providers</li>
                </ol>
            </div>
            <h1 class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">
                <span class="govuk-caption-xl">Your saved favourites</span>
                <span class="app-icon-basket govuk-!-margin-right-2"></span>
                <span class="fav-count-text">@countText</span>
            </h1>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <ol class="app-task-list">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <li class="app-task-list__item">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-l app-task-list__heading">
                                <span class="app-task-list__section-number">@(i + 1). </span>
                                <a href="@Model.Items[i].FatUrl" class="fav-tp-name govuk-link">@Model.Items[i].ProviderName</a>
                            </h2>

                            <dl class="govuk-list govuk-!-margin-top-0">
                                <dt class="app-training-provider__details-title">Phone:</dt>
                                <dd class="app-training-provider__details-definition fav-tp-phone">@Model.Items[i].Phone</dd>
                                <dt class="app-training-provider__details-title">Email:</dt>
                                <dd class="app-training-provider__details-definition fav-tp-email">
                                    @if (@Model.Items[i].Email == "no data available")
                                    {
                                        <span>no data available</span>
                                    }
                                    else
                                    {
                                        <a href="mailto:@Model.Items[i].Email">@Model.Items[i].Email</a>
                                    }
                                </dd>
                            </dl>
                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Training provider details
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <dl class="govuk-list">
                                        <dt class="app-training-provider__details-title">Website:</dt>
                                        <dd class="app-training-provider__details-definition fav-tp-website">
                                            @if (@Model.Items[i].Website == "no data available")
                                            {
                                                <span>no data available</span>
                                            }
                                            else
                                            {
                                                <a href="@Model.Items[i].Website">@Model.Items[i].Website</a>
                                            }
                                        </dd>
                                        <dt class="app-training-provider__details-title">Employer satisfaction:</dt>
                                        <dd class="app-training-provider__details-definition fav-tp-employer-satisfaction">@Model.Items[i].EmployerSatisfaction</dd>
                                        <dt class="app-training-provider__details-title">Learner satisfaction:</dt>
                                        <dd class="app-training-provider__details-definition fav-tp-learner-satisfaction">@Model.Items[i].LearnerSatisfaction</dd>
                                    </dl>
                                </div>
                            </details>
                        </div>
                        @*<div class="govuk-grid-column-one-third">
                                <a href="#" class="govuk-button app-task-list__training-provider-content">Recruit an apprentice</a>
                                <a href="#" class="govuk-link app-task-list__training-provider-content">Manage permissions</a>
                            </div>*@
                    </div>
                </li>
            }
        </ol>
    </div>
</div>